<?xml version="1.0" ?>
<robot name="RobotPallet_urdf" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find RobotPallet_urdf_description)/urdf/materials.xacro" />
<xacro:include filename="$(find RobotPallet_urdf_description)/urdf/RobotPallet_urdf.trans" />
<xacro:include filename="$(find RobotPallet_urdf_description)/urdf/RobotPallet_urdf.gazebo" />
<link name="base_link">
  <inertial>
    <origin rpy="0 0 0" xyz="6.765180111144575e-06 0.3630136553182086 0.11423952079885105"/>
    <mass value="10.799554931225613"/>
    <inertia ixx="3.458702" ixy="0.000432" ixz="-0.000132" iyy="1.123313" iyz="0.225141" izz="4.255486"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://RobotPallet_urdf_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://RobotPallet_urdf_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
